    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" >
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="bi bi-bicycle"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Gym TEC</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard, Information, Manage eShop -->
        <li class="nav-item active">
            <a class="nav-link" href="sucursales">
                <i class="bi bi-shop-window"></i>
                <span>Branch Management</span></a>
            <a class="nav-link" href="puestos">
                <i class="bi bi-clipboard-data"></i>
                <span>Job Positions Management</span></a>
                <a class="nav-link" href="empleados">
                    <i class="bi bi-emoji-smile"></i>
                <span>Employee Management</span></a>
                <a class="nav-link" href="servicios">
                    <i class="bi bi-receipt"></i>
                <span>Service Management</span></a>
                <a class="nav-link" href="inventario">
                    <i class="bi bi-archive"></i>
                <span>Inventory Management</span></a>
                <a class="nav-link" href="gym">
                <i class="bi bi-person-bounding-box"></i>
                <span>Gym Management</span>
            </a>
            <a class="nav-link" href="class">
                <i class="bi bi-file-earmark-plus-fill"></i>
                <span>Register in a Gym Class</span>
            </a>
            
        </li>
        <hr class="sidebar-divider d-none d-md-block">
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    <div>.</div>
    </ul>
    
