<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Gym TEC- Branch Manager</title>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
        <!-- End of Sidebar --><!-- Vertically centered modal -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User LogOut -->
                        <li class="nav-item dropdown no-arrow">
                            <a type="button" class="dropdown-item" href="login" data-toggle="modal" data-target="#logoutModalLabel" >
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Log Out <i class="bi bi-door-open"></i></span>
                            </a>
                            <!-- Dropdown - User LogOut -->
                           
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Inventory Management</h1>
                        <button type="button" class="btn btn-success" (click)="onProd()" data-bs-toggle="modal" data-bs-target="#Modal"><i class="bi bi-plus-circle"></i> Products</button>
                        
                          
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        
                        <!-- New device card alloes the user to enter information an then hit save, this sends a post to the function On New and creates a new device with the info entered-->
                         <!--Note that just the Serial,Brand,Electrical consumption,Device Category are require, if this infomation is not entered the user is going to receive an error messsage -->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                New Gym Machine</div>
                                            <form #formNew="ngForm" (ngSubmit)="onNew(formNew)">
                                                <div class="alert alert-danger" role="alert" *ngIf="isError">
                                                    Something is wrong!
                                                </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text " id="basic-addon3">Brand</span>     
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Marca
                                                aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                                                <span class="input-group-text" id="basic-addon3">Serial</span>     
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Serie
                                                aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text " id="basic-addon3">Equipment Type</span> 
                                                <select class="form-control form-control-user" aria-describedby="basic-addon3" id="inputGroupSelect" name=Tipo ngModel>
                                                    <option value="Cintas de correr">Cintas de correr</option>
                                                    <option value="Bicicletas estacionarias">Bicicletas estacionarias</option>
                                                    <option value="Multigimnasios">Multigimnasios</option>
                                                    <option value="Remos">Remos</option>
                                                    <option value="Pesas">Pesas</option>
                                                </select>
                                              </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text " id="basic-addon3">Cost</span>     
                                                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Costo
                                                aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                                            </div>
                                            <div class="input-group mb-3">
                                                <span class="input-group-text " id="basic-addon3">Branch</span> 
                                                <select class="form-control form-control-user" aria-describedby="basic-addon3" name=ID_sucursal ngModel>
                                                    <option value="America">Branch Ex1</option>
                                                        <option value="Asia">Branch Ex2</option>
                                                        <option value="Africa">Branch Ex3</option>
                                                        <option value="Europa">Branch Ex4</option>
                                                </select>
                                              </div>
                                                <button class="btn btn-outline-success" type="submit">
                                                    <i class="bi bi-arrow-90deg-down"> Save New Equipment Type</i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 col-md-6 mb-4" *ngFor="let mach of listaMach; index as i">
                            <div class="card border-left-{{colors[i]}} shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-0">
                                            <div class="text-xs font-weight-bold text-{{colors[i]}} text-uppercase mb-1">
                                                Edit Gym Machine</div>
                                                <form #formNew="ngForm" (ngSubmit)="onNew(formNew)">
                                                    <div class="alert alert-danger" role="alert" *ngIf="isError">
                                                        Something is wrong!
                                                    </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text " id="basic-addon3">Brand</span>     
                                                    <input type="text" class="form-control bg-light border-0 small" placeholder="{{mach.Nombre}}" name=Serie
                                                    aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                                                    <span class="input-group-text" id="basic-addon3">Serial</span>     
                                                    <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Serie
                                                    aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text " id="basic-addon3">Equipment Type</span> 
                                                    <select class="form-control form-control-user" aria-describedby="basic-addon3" id="inputGroupSelect" name="Continente" placeholder="Choose your region..." ngModel>
                                                        <option value="America">Cintas de correr</option>
                                                        <option value="Asia">Bicicletas estacionarias</option>
                                                        <option value="Africa">Multigimnasios</option>
                                                        <option value="Europa">Remos</option>
                                                        <option value="Europa">Pesas</option>
                                                    </select>
                                                  </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text " id="basic-addon3">Cost</span>     
                                                    <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Serie
                                                    aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                                                </div>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text " id="basic-addon3">Branch</span> 
                                                    <select class="form-control form-control-user" aria-describedby="basic-addon3" id="inputGroupSelect" name="Continente" placeholder="Choose your region..." ngModel>
                                                        <option value="America">Branch Ex1</option>
                                                            <option value="Asia">Branch Ex2</option>
                                                            <option value="Africa">Branch Ex3</option>
                                                            <option value="Europa">Branch Ex4</option>coun
                                                    </select>
                                                  </div>
                                                    <button class="btn btn-{{colors[i]}}" type="submit">
                                                        <i class="bi bi-arrow-90deg-down"> Save Changes</i>
                                                    </button>
                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Main Content -->

  
  <!-- Modal -->
  <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Manage Products</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #formNewProd="ngForm" (ngSubmit)="onNewProd(formNewProd)">
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                    Something is wrong!
                </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Name</span>  
                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Nombre
                aria-label="Search" aria-describedby="basic-addon3"  ngModel required>
                <span class="input-group-text" id="basic-addon2">BarCode</span>     
                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Bar_code
                aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                <span class="input-group-text" id="basic-addon2">Cost</span>     
                <input type="text" class="form-control bg-light border-0 small" placeholder="" name=Costo
                aria-label="Search" aria-describedby="basic-addon3" ngModel required>
                <span class="input-group-text" id="basic-addon2">Description</span>     
                <textarea type="text" class="form-control bg-light border-0 small" placeholder="" name=Descripcion
                aria-label="Search" aria-describedby="basic-addon3" ngModel required></textarea>
                <button type="submit" class="btn btn-info"><i class="bi bi-plus-circle"></i></button>
              </div>
            </form>
              <div class="input-group mb-3" *ngFor="let prod of listaProd; index as i">
                <span class="input-group-text" id="basic-addon2">Name</span>  
                <input type="text" class="form-control bg-light border-0 small" placeholder="{{prod.Nombre}}" name=Serie
                aria-label="Search" aria-describedby="basic-addon3"  required>
                <span class="input-group-text" id="basic-addon2">BarCode</span>     
                <input type="text" class="form-control bg-light border-0 small" placeholder="{{prod.Bar_code}}" name=Serie
                aria-label="Search" aria-describedby="basic-addon3"  required>
                <span class="input-group-text" id="basic-addon2">Cost</span>     
                <input type="text" class="form-control bg-light border-0 small" placeholder="{{prod.Costo}}" name=Serie
                aria-label="Search" aria-describedby="basic-addon3"  required>
                <span class="input-group-text" id="basic-addon2">Description</span>     
                <textarea type="text" class="form-control bg-light border-0 small" placeholder="{{prod.Descripcion}}" name=Serie
                aria-label="Search" aria-describedby="basic-addon3"  required></textarea>
                <button type="button" class="btn btn-danger"><i class="bi bi-dash-circle"></i></button>
              </div>
              

              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; YenUS 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
</body>
</html>

